<a href="https://colab.research.google.com/github/chamomatias/Python---Carreras-Intensivas/blob/main/Clase_3_Conjuntos_y_diccionarios_Practica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Set
Colección de datos sin duplicados, heterogéneos, mutables y desordenados.

In [53]:
def sep():
    print("---------------------------------------------")

## Intro

In [54]:
mi_set = {1,2,3,4,5}
print(mi_set)

sep()

print(type(mi_set))

{1, 2, 3, 4, 5}
---------------------------------------------
<class 'set'>

In [55]:
# No admite duplicados
mi_set = {1,2,3,4,5,2,2,2,2}

print(mi_set)

{1, 2, 3, 4, 5}

In [56]:
# Crear listas vacías (Sólo para comparar con sets)
mi_lista = []
print(mi_lista)
print(type(mi_lista))


sep()

mi_segunda_lista = list()
print(mi_segunda_lista)
print(type(mi_segunda_lista))

[]
<class 'list'>
---------------------------------------------
[]
<class 'list'>

In [57]:
# A diferencia de las listas, para crear un set vacío sólo podemos
# hacerlo mediante set()
mi_set = set()
print(type(mi_set))

sep()

# Si intentamos usar llaves vacías sólo vamos a crear otro tipo de colección de datos
mi_intento_de_set = {}
print(type(mi_intento_de_set))

<class 'set'>
---------------------------------------------
<class 'dict'>

In [86]:
# Son heterogéneos
mi_set = {1,2,"Hola XXXXXX",("Una tupla adentro del set"),3.14}

print(mi_set)

{1, 2, 3.14, 'Una tupla adentro del set', 'Hola XXXXXX'}

In [84]:
# Son heterogéneos pero NO pueden incluír objetos mutables como una lista (entre otros)
sep()

mi_set = {1, 2, ["¿una lista?"]}

sep()

mi_set2 = {1, 2, ["¿una lista?"]}

---------------------------------------------

TypeError: unhashable type: 'list'

In [61]:
# ¿Podrá incluír otro set?
mi_set = {1, 2, {"¿un set?"}}

TypeError: unhashable type: 'set'

In [62]:
# No se puede acceder a un elemento indicando el índice
mi_set = {1, 2, 3, 4,5,6,7,8,9}

print(mi_set[1])

TypeError: 'set' object is not subscriptable

In [89]:
# A partir de un objeto iterable que cumpla con las condiciones dadas, se pueden
# crear conjuntos (set)
mi_lista = [1,2,3,4,4,4,4,5]
print(mi_lista)
mi_set = set(mi_lista)


print("\n")

print(mi_set)

print("\n")
sep()
print(type(mi_set))
# Y podemos volver a convertirlo en lista
nueva_lista = list(mi_set)
print("\n")
print(nueva_lista)

[1, 2, 3, 4, 4, 4, 4, 5]


{1, 2, 3, 4, 5}


---------------------------------------------
<class 'set'>


[1, 2, 3, 4, 5]

In [64]:
texto = "Hola que tal?"
mi_set = set(texto)

print(mi_set)
print(type(mi_set))

{'u', 'q', 't', 'l', '?', 'e', ' ', 'o', 'a', 'H'}
<class 'set'>

In [65]:
# Creamos un set a partir de una lista
mi_set = set(range(10, 50, 2))

print(mi_set)
print(type(mi_set))

{10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48}
<class 'set'>

In [66]:
lista = list(range(10, 100))

print(lista)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [67]:
# Tener en cuenta que al convertir lista en set se pierden los elementos duplicados
mi_lista = [1,2,3,3,3,3,4,5,6]
mi_set = set(mi_lista)

print(mi_set)

{1, 2, 3, 4, 5, 6}

## Funciones integradas
Mediante el uso de funciones integradas podemos modificar un set.

In [68]:
# ADD
# Agrega un elemento al set.
numeros = {1, 2, 3, 4}
numeros.add(5)
print(numeros)

{1, 2, 3, 4, 5}

In [69]:
# UPDATE
# Agrega muchos elementos al set al mismo tiempo con cualquier iterable.
numeros = {1, 2, 3, 4}
numeros.update([5, 6, 7, 8])
print(numeros)

{1, 2, 3, 4, 5, 6, 7, 8}

In [70]:
# No soporta la concatenación o suma de sets
print({1,2,3} + {4,5,6})

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [71]:
# LEN
# Devuelve la cantidad de elementos del set.
numeros = {1, 2, 3, 4, 5, 6, 7, 8}

print(len(numeros))

8

In [72]:
# DISCARD
# Elimina el elemento que pasamos en el parámetro.
numeros = {1, 2, 3, 4, 5, 6, 7, 8}
numeros.discard(2)

print(numeros)

{1, 3, 4, 5, 6, 7, 8}

In [73]:
# No genera error si el elemento que queremos eliminar no existe.
numeros = {1, 2, 3, 4, 5, 6, 7, 8}
numeros.discard(22)

print(numeros)

{1, 2, 3, 4, 5, 6, 7, 8}

In [74]:
# REMOVE
# Es igual a DISCARD con la diferencia que genera error si el elemento no existe.
numeros = {1, 2, 3, 4, 5, 6, 7, 8}
numeros.remove(1)

print(numeros)

{2, 3, 4, 5, 6, 7, 8}

In [75]:
# Remover valores que no existen en el set genera una excepción o error
numeros = {1, 2, 3, 4, 5, 6, 7, 8, "Coder"}
print(numeros)

numeros.remove("Coder")
print(numeros)

numeros.remove(444)
print("Esto no se ejecuta")

{1, 2, 3, 4, 5, 6, 7, 8, 'Coder'}
{1, 2, 3, 4, 5, 6, 7, 8}

KeyError: 444

In [76]:
# IN
# Podemos consultar la existencia de un elemento dentro del set.
numeros = {1, 2, 3, 4, 5, 6, 7, 8}
2 in numeros

True

In [77]:
numeros = {1, 2, 3, 4, 5, 6, 7, 8}
100 in numeros

False

In [78]:
numeros = {1, 2, 3, 4, 5, 6, 7, 8}
estado_de_4 = 4 in numeros

print(estado_de_4)

True

In [79]:
lista_vacia = []
print(lista_vacia)

[]

In [80]:
# CLEAR
# Elimina todo el contenido del set
numeros = {1, 2, 3, 4, 5, 6, 7, 8}
numeros.clear()

print(numeros)

set()

In [81]:
# POP
# Elimina un elemento de forma aleatoria, ya que no contamos con índices
# en las colecciones de datos desordenadas.
numeros = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print(numeros)
print(numeros.pop())
print(numeros)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
1
{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [82]:
# No siempre imprime de igual forma ya que trabaja de manera desordenada.
# Suele tener un efecto más notorio en local y no en Colab.
mi_lista = list(range(10_000, 10_101))
mi_set = set(mi_lista)
mi_set.update(["a", "b", "c", "d"])
print(mi_set)

{'c', 'd', 'b', 'a', 10000, 10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009, 10010, 10011, 10012, 10013, 10014, 10015, 10016, 10017, 10018, 10019, 10020, 10021, 10022, 10023, 10024, 10025, 10026, 10027, 10028, 10029, 10030, 10031, 10032, 10033, 10034, 10035, 10036, 10037, 10038, 10039, 10040, 10041, 10042, 10043, 10044, 10045, 10046, 10047, 10048, 10049, 10050, 10051, 10052, 10053, 10054, 10055, 10056, 10057, 10058, 10059, 10060, 10061, 10062, 10063, 10064, 10065, 10066, 10067, 10068, 10069, 10070, 10071, 10072, 10073, 10074, 10075, 10076, 10077, 10078, 10079, 10080, 10081, 10082, 10083, 10084, 10085, 10086, 10087, 10088, 10089, 10090, 10091, 10092, 10093, 10094, 10095, 10096, 10097, 10098, 10099, 10100}


---

# DICT
Colección de datos heterogéneos, mutables y desordenados (*), ordenados por una estructura basada en "llave-valor" o "clave-valor".

## Intro

In [83]:
# Creación
colores = {
    "amarillo": "yellow",
    "azul": "blue",
    "rojo": "vermelho",
}
print(colores)

{'amarillo': 'yellow', 'azul': 'blue', 'rojo': 'vermelho'}

In [ ]:
print(type(colores))

In [ ]:
# También lo podemos crear vacío
mi_dict = dict()
print(mi_dict)

In [ ]:
nuevo_dict = {}
print(type(nuevo_dict))

In [ ]:
# Para obtener un valor del diccionario hacemos igual que en la lista pero
# escribimos la llave en vez del índice.
colores = {
    "amarillo": "yellow",
    "azul": "blue",
    "rojo": "vermelho",
}

print(colores["rojo"])

In [ ]:
# Son mutables
colores = {
    "amarillo": "yellow",
    "azul": "blue",
    "rojo": "vermelho",
}

colores["rojo"] = "red"
print(colores)

In [ ]:
# Permite operaciones en la asignación
edades = {"Juan": 26, "Esteban": 35, "Maria": 29}
edades["Juan"] += 5 + len(edades)
print(edades)

In [ ]:
colores = {
    "amarillo": "yellow",
    "azul": "blue",
    "rojo": "vermelho",
    "rojo": "red"
}
print(colores)

In [ ]:
colores = {
    "amarillo": "red",
    "azul": {
        11: "red",
        52: "blue"
    },
    "rojo": "red"
}
print(colores["azul"][52])

## Funciones integradas

In [ ]:
# ADD
# No cuenta con funciones integradas para agregar un par de clave valor,
# pero podemos hacerlo de la siguiente manera.
numeros = {'uno': 1, 'dos': 2, 'tres': 3, 'cuatro': 4}
numeros["cinco"] = 5

print(numeros)

In [ ]:
numeros["cinco"] = "five"
print(numeros)

In [ ]:
# UPDATE
# Podemos agregar varios pares de clave-valor uniendo dos diccionarios.
numeros = {'uno': 1, 'dos': 2, 'tres': 3, 'cuatro': 4}
numeros.update({"seis": 6, "siete": 7})

print(numeros)

In [ ]:
otro_dict = dict(ocho=8, nueve=9)
print(otro_dict)

numeros = {'uno': 1, 'dos': 2, 'tres': 3, 'cuatro': 4}
numeros.update(otro_dict)
print(numeros)

In [ ]:
# LEN
# Devuelve la cantidad de pares clave-valor.
numeros = {'uno': 1, 'dos': 2, 'tres': 3, 'cuatro': 4}

print(len(numeros))

In [ ]:
# DEL
# Para borrar un elemento usamos este nuevo método.
numeros = {'uno': 1, 'dos': 2, 'tres': 3, 'cuatro': 4}
del numeros["dos"]

print(numeros)

In [ ]:
# Dispara un error si el elemento no existe
numeros = {'uno': 1, 'dos': 2, 'tres': 3, 'cuatro': 4}
del numeros["cinco"]

In [ ]:
# IN
# Podemos saber si una clave o llave se encuentra en el diccionario
numeros = {'uno': 1, 'dos': 2, 'tres': 3, 'cuatro': 4}

print(1 in numeros)
print("cuatro" in numeros)

In [ ]:
# CLEAR
# Elimina todos los elementos de un diccionario.
numeros = {'uno': 1, 'dos': 2, 'tres': 3, 'cuatro': 4}
print(numeros)
numeros.clear()
print(numeros)

In [ ]:
numeros = {'uno': 1, 'dos': 2, 'tres': 3, 'cuatro': 4}
print(numeros)
numeros = {}
print(numeros)

In [ ]:
numeros = {'uno': 1, 'dos': 2, 'tres': 3, 'cuatro': 4, "cinco": 5}