<a href="https://colab.research.google.com/github/chamomatias/Python---Carreras-Intensivas/blob/main/Clase_2_Listas_y_tuplas_Practica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Repaso Clase 01**

In [ ]:
fecha = input("Ingrese fecha nac: ")

Ingrese fecha nac: 12/07/1982

In [ ]:
# Los string son inmutables, para editarlo en realidad sobrescribimos su valor
fecha = fecha[0:3] + "12 concatenado" + fecha[-5:]
print(fecha)

12/12 concatenado/1982

In [ ]:
# Tanto en Colab como en la consola de Python (más adelante la vamos a conocer),
# colocar el nombre de una variable es suficiente para imprimir su contenido o valor
fecha

'12/12 concatenado/1982'

In [ ]:
# Extraemos el mes de la fecha inicial y lo guardamos en la variable "mes"
mes = fecha[3:5]
print(fecha[3:5])
print(mes)
print(int(mes))

12
12
12

# **Clase 02 - Listas y tuplas**

## **Listas**

### Generales

Las listas nos permite guardar muchos datos bajo un mismo nombre, luego podemos acceder a todos ellos mediante el nombre de la lista, pero también podemos acceder a cada dato de manera individual mediante el nombre de la lista y un índice.

In [ ]:
# Creamos una lista
"""
Aca tenemos un comentario largo
con varias líneas de texto
"""
edades = [20, 30, 15, 20]

In [ ]:
# Accedemos al dato que se encuentra en la posición 2 de la lista.
# Recordar que las posiciones en las listas se inician a contar desde 0.
print(edades[2])

15

In [ ]:
# Las listas son heterogéneas, cada dato es individual sin la necesidad de tener
# que respetar un tipo de dato:
# datos_conzalo = [int, str, float]
datos_gonzalo = [20, "Labra", 75.8]
print(datos_gonzalo)

[20, 'Labra', 75.8]

In [ ]:
# Accedemos a la posición 2 de la lista y lo guardamos en una nueva variable
peso = datos_gonzalo[2]
print(peso)
lista_nueva = [peso]
print(lista_nueva)

75.8
[75.8]

In [ ]:
datos_gonzalo[1] = "Juan"
print(datos_gonzalo)

[20, 'Juan', 75.8]

In [ ]:
# Listas anidadas
listas_anidadas = ["string", ["Labra", "Segarra"], 75.8]
print(listas_anidadas)

['string', ['Labra', 'Segarra'], 75.8]

A continuación diferentes formas de acceder a los datos de las listas, aunque una mejor forma de llamarlos es "elementos" de la lista.

In [ ]:
datos_g = [[1,2,3], ["Linus", "Torvalds"], 7, 8.5, "nueve"]

In [ ]:
datos_g[1]

['Linus', 'Torvalds']

In [ ]:
datos_g[0][1]

2

In [ ]:
datos_g[1][1][1]

'o'

In [ ]:
datos_g[2:2]

[]

In [ ]:
datos_g[1][0][-3:]

'nus'

In [ ]:
# Diferencia entre listas y strings: Mutables e inmutables
lista = ["c", "a", "d", "e", "n", "a"]
cadena = "cadena"

print(f"imprimimos lista: {lista}")
print(f"imprimimos cadena: {cadena}")

print("---------")

print(f"tipo de dato de lista: {type(lista)}")
print(f"tipo de dato de lista: {type(cadena)}")

print("---------")

print("ahora cambiamos en la lista el elemento que está en el orden 0")

print("---------")

lista[0] = "Cambio el elemento"
#cadena[0] = "C" esto rompe el codigo. La lista es mutable

print(lista)

imprimimos lista: ['c', 'a', 'd', 'e', 'n', 'a']
imprimimos cadena: cadena
---------
tipo de dato de lista: <class 'list'>
tipo de dato de lista: <class 'str'>
---------
ahora cambiamos en la lista el elemento que está en el orden 0
---------
['Cambio el elemento', 'a', 'd', 'e', 'n', 'a']

### Operaciones con listas

In [ ]:
lista_nueva = [1, 2, 3]
segunda_lista = [4, 5, 6]

In [ ]:
# Sumar listas, las concatena generando una nueva con el contenido de ambas
tercera_lista = lista_nueva + segunda_lista
print(tercera_lista)

# lista_nueva = lista_nueva + segunda_lista
# lista_nueva += segunda_lista

[1, 2, 3, 4, 5, 6]

In [ ]:
# A diferencia del str que es inmutable, en las listas podemos modificar el
# valor de un solo elemento
tercera_lista[1] = "dos"
print(tercera_lista)

[1, 'dos', 3, 4, 5, 6]

In [ ]:
# Podemos reemplazar varios valores en simultáneo
tercera_lista[:3] = ["uno", "dos", "tres"]
print(tercera_lista)

['uno', 'dos', 'tres', 4, 5, 6]

In [ ]:
# Podemos reemplazar varios valores por uno sólo
tercera_lista[:3] = ["0"]
print(tercera_lista)

['0', 4, 5, 6]

In [ ]:
# Podemos reemplazar varios valores por uno sólo
tercera_lista[:3] = "0"
print(tercera_lista)

['0', 6]

In [ ]:
# Podemos reemplazar varios valores por uno sólo
tercera_lista[:3] = [0]
print(tercera_lista)

[0]

In [ ]:
tercera_lista

[0]

In [ ]:
# Limpiamos el contenido de los primeros 3 elementos de la lista
tercera_lista[:3] = []
print(tercera_lista)

[]

In [ ]:
# Limpiamos toda la lista, pero esta sintaxis también es utilizada para crear
# una nueva lista vacía
tercera_lista = []
print(tercera_lista)

# Nueva lista vacía
nueva_lista_vacia = []
print(nueva_lista_vacia)

# Nueva lista vacía con otra sintaxis
nueva_lista_vacia_2 = list()
print(nueva_lista_vacia_2)

[]
[]
[]

In [ ]:
# Creamos una nueva lista
nueva_l = [1,2,3,4,2,2]
print(nueva_l)

[1, 2, 3, 4, 2, 2]

### Funciones de listas

In [ ]:
nueva_l = []
print(nueva_l)

[]

In [ ]:
# APPEND: Agrega datos al final de la lista
nueva_l.append(1)
print(nueva_l)

[1]

In [ ]:
# También podemos agregar datos concatenando una lista
# nueva_l = nueva_l + [2,3,4,5,6,7]
nueva_l += [2,3,4,5,6,7]
print(nueva_l)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# LEN: Devuelve la cantidad de elementos en una lista
print(len(nueva_l))

# También lo podemos almacenar en una variable y utilizarla luego
largo = len(nueva_l)
print(largo)

7
7

In [ ]:
# POP: Elimina datos del final y devuelve el elemento que se eliminó.
nueva_l.pop()
valor_eliminado = nueva_l.pop()
print(nueva_l)

[1, 2, 3, 4, 5]

In [ ]:
print(valor_eliminado)

6

In [ ]:
# También permite seleccionar el índice del elemento a eliminar
valor_eliminado = nueva_l.pop(1)

In [ ]:
print(nueva_l)
print(valor_eliminado)

[1, 3, 4, 5]
2

In [ ]:
# COUNT: Cuenta y devuelve la cantidad de veces que se encuentra un elemento
# dentro de la lista
cant_2 = nueva_l.count(3)
print(cant_2)

1

In [ ]:
# Si el elemento no está devuelve 0
print(nueva_l.count(66))

0

In [ ]:
# Agregamos valores para esperar nuevos resultados
nueva_l += [1,2,5,5,4,5,8,7,5,2,1,4,5,3,2,4,9,7,6,5,8,9]

In [ ]:
print(nueva_l)
print(nueva_l.count(4))

[1, 3, 4, 5, 1, 2, 5, 5, 4, 5, 8, 7, 5, 2, 1, 4, 5, 3, 2, 4, 9, 7, 6, 5, 8, 9]
4

In [ ]:
# INDEX: Busca y devuelve la posición de un elemento
indice_4 = nueva_l.index(4)
print(indice_4)

2

In [ ]:
# Si no existe devuelve error
nueva_l.index(55)

ValueError: 55 is not in list

## **Tuplas**

### Generales

In [ ]:
# Declarar tuplas
tupla_1 = ()
tupla_2 = tuple()
print(tupla_1)
print(tupla_2)

()
()

In [ ]:
# Declarar tuplas y asignar valores
tupla_3 = (1,2,3)
print(tupla_3)

(1, 2, 3)

In [ ]:

num = 5
tupla_aux = (1,)

print(tupla_aux)
print(type(tupla_aux))

In [ ]:
# Asignar tuplas con un valor
tupla_4 = (1,)
print(tupla_4)

In [ ]:
intento_de_tupla = (5)
print(intento_de_tupla)

In [ ]:
# Las tuplas también son heterogéneas
mi_variable = "Una variable"
datos = (1, "cadena", -0.4, mi_variable)
print(datos)

In [ ]:
# También podemos acceder a los valores por sus índidce
tupla_general = (1,2,3,4,5)
tres = tupla_general[2]
print(tres)

In [ ]:
# Permite hacer slicing
ultimos_dos = tupla_general[-2:]
print(ultimos_dos)

In [ ]:
# Pero no podemos modificar el valor de un elemento
tupla_general[1] = "dos"

In [ ]:
# Y si bien no tiene un "append" como en la lista, sí podemos
# agregarle valores con la concatenación o suma de otra tupla
tupla_general = tupla_general + (6,7)
print(tupla_general)

In [ ]:
# Una forma más simple de hacer lo mismo
tupla_general += (8,)
print(tupla_general)

### Funciones de tuplas

In [ ]:
# LEN
largo = len(tupla_general)
print(largo)

In [ ]:
# COUNT
cantidad_de_0 = tupla_general.count(0)

In [ ]:
tupla_general += (0, 1, 0, 2)

In [ ]:
print(cantidad_de_0)

In [ ]:
print(tupla_general)

In [ ]:
# INDEX
indice = tupla_general.index(3)
print(indice)

In [ ]:
# ANIDACIÓN
tupla_anidada = (1, 2, 3, ("otra tupla", ), ["una lista", 2, 3], 4.5)
print(tupla_anidada)

## Transformación de colecciones

In [ ]:
# Con "type" podemos imprimir el tipo de dato de un valor
print(type(1))
print(type(1.0))
print(type("1"))
print(type(True))

In [ ]:
# Con las funciones "tuple" y "list", podemos convertir estas colecciones
lista = ["a", "b", "c"]
print(lista)
print(type(lista))

In [ ]:
tupla = (1,2,3)
print(tupla)
print(type(tupla))

In [ ]:
# Convertimos la tupla en lista y la guardamos en una variable "nueva_lista"
nueva_lista = list(tupla)
print(nueva_lista)
print(type(nueva_lista))

In [ ]:
# Convertimos la lista en tupla y la guardamos en una variable "nueva_tupla"
nueva_tupla = tuple(lista)
print(nueva_tupla)
print(type(nueva_tupla))