<a href="https://colab.research.google.com/github/chamomatias/Python---Carreras-Intensivas/blob/main/Clase_4_M%C3%A9todos_de_colecciones_Practica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Métodos de Cadenas (string)

In [1]:
# Convertir un texto a mayúsculas usando el método upper() en Python
# Texto original
texto = "Programando en Python, estás construyendo puentes hacia el futuro con cada línea de código que escribes!"

# Convertir el texto a mayúsculas
nuevo_texto = texto.upper()

# Mostrar el texto original
print("Texto original:")
print(texto)

# Mostrar el texto convertido a mayúsculas
print("\nTexto en mayúsculas:")
print(nuevo_texto)

Texto original:
Programando en Python, estás construyendo puentes hacia el futuro con cada línea de código que escribes!

Texto en mayúsculas:
PROGRAMANDO EN PYTHON, ESTÁS CONSTRUYENDO PUENTES HACIA EL FUTURO CON CADA LÍNEA DE CÓDIGO QUE ESCRIBES!

In [2]:
# Convertir un texto a minúsculas usando el método lower() en Python

# Texto original
texto = "Programando en Python, estás construyendo puentes hacia el futuro con cada línea de código que escribes!"

# Convertir el texto a minúsculas
nuevo_texto = texto.lower()

# Mostrar el texto original
print("Texto original:")
print(texto)

# Mostrar el texto convertido a minúsculas
print("\nTexto en minúsculas:")
print(nuevo_texto)

Texto original:
Programando en Python, estás construyendo puentes hacia el futuro con cada línea de código que escribes!

Texto en minúsculas:
programando en python, estás construyendo puentes hacia el futuro con cada línea de código que escribes!

In [3]:
# Convertir un texto a formato "capitalize" usando el método capitalize() en Python

# Texto original
texto = "Programando en Python.\nEstás construyendo puentes hacia el futuro con cada línea de código que escribes!"

# Convertir el texto al formato "capitalize" (solo el primer carácter en mayúscula)
nuevo_texto = texto.capitalize()

# Mostrar el texto original
print("Texto original:")
print(texto)

# Mostrar el texto convertido al formato "capitalize"
print("\nTexto con capitalize:")
print(nuevo_texto)

Texto original:
Programando en Python.
Estás construyendo puentes hacia el futuro con cada línea de código que escribes!

Texto con capitalize:
Programando en python.
estás construyendo puentes hacia el futuro con cada línea de código que escribes!

In [4]:
# Convertir un texto a formato "título" usando el método title() en Python

# Texto original
texto = "Programando en Python, estás construyendo puentes hacia el futuro con cada línea de código que escribes!"

# Convertir el texto al formato "título" (primera letra de cada palabra en mayúscula)
nuevo_texto = texto.title()

# Mostrar el texto original
print("Texto original:")
print(texto)

# Mostrar el texto convertido al formato "título"
print("\nTexto en formato título:")
print(nuevo_texto)

Texto original:
Programando en Python, estás construyendo puentes hacia el futuro con cada línea de código que escribes!

Texto en formato título:
Programando En Python, Estás Construyendo Puentes Hacia El Futuro Con Cada Línea De Código Que Escribes!

In [5]:
# Contar las ocurrencias de una subcadena en un texto usando el método count() en Python

# Texto original
texto = "Programando en Python, estás construyendo puentes hacia el futuro con cada línea de código que escribes!"

# Contar cuántas veces aparece la subcadena "con" en el texto
cant_con = texto.count("con")

# Mostrar el resultado
print(f"La subcadena 'con' aparece {cant_con} veces en el texto.")

La subcadena 'con' aparece 2 veces en el texto.

In [6]:
# Encontrar la posición de una subcadena en un texto usando el método find() en Python

# Texto original
texto = "Programando en Python, estás construyendo puentes hacia el futuro con cada línea de código que escribes!"

# Buscar la posición de la primera aparición de la subcadena "con"
index_con = texto.find("con")

# Mostrar el resultado
if index_con != -1:
    print(f"La subcadena 'con' se encuentra por primera vez en la posición {index_con}.")
else:
    print("La subcadena 'con' no se encontró en el texto.")

La subcadena 'con' se encuentra por primera vez en la posición 29.

In [7]:
# Encontrar la posición de la última aparición de una subcadena usando rfind() en Python

# Texto original
texto = "Programando en Python, estás construyendo puentes hacia el futuro con cada línea de código que escribes!"

# Buscar la posición de la última aparición de la subcadena "con"
index_con = texto.rfind("con")

# Mostrar el resultado
if index_con != -1:
    print(f"La subcadena 'con' aparece por última vez en la posición {index_con}.")
else:
    print("La subcadena 'con' no se encontró en el texto.")

La subcadena 'con' aparece por última vez en la posición 66.

In [8]:
# Dividir un string en una lista de palabras usando el método split()

# Texto original
texto = "Programando en Python, estás construyendo puentes hacia el futuro con cada línea de código que escribes!"

# Mostrar el texto original
print("Texto original:")
print(texto)

# Dividir el texto en palabras utilizando el espacio como separador por defecto
lista_palabras = texto.split()

# Mostrar la lista de palabras generada
print("\nLista de palabras:")
print(lista_palabras)

Texto original:
Programando en Python, estás construyendo puentes hacia el futuro con cada línea de código que escribes!

Lista de palabras:
['Programando', 'en', 'Python,', 'estás', 'construyendo', 'puentes', 'hacia', 'el', 'futuro', 'con', 'cada', 'línea', 'de', 'código', 'que', 'escribes!']

In [10]:
# Dividir un string en una lista de elementos utilizando '*' como delimitador con el método split()

# Texto original con un delimitador específico (asterisco)
texto = "Programando en Python,* estás construyendo puentes hacia el futuro con cada línea de código que escribes!"
print("Texto original:")
print(texto)

# Dividir el texto en partes utilizando '*' como delimitador
lista_palabras = texto.split("*")

# Mostrar la lista de elementos generada
print("\nLista de elementos (dividida por '*'):")
print(lista_palabras)

Texto original:
Programando en Python,* estás construyendo puentes hacia el futuro con cada línea de código que escribes!

Lista de elementos (dividida por '*'):
['Programando en Python,', ' estás construyendo puentes hacia el futuro con cada línea de código que escribes!']

In [11]:
# Unir los elementos de una lista en un string con un delimitador personalizado (en este caso, un espacio)

# Lista de palabras
lista_palabras = ['Programando', 'en', 'Python,', 'estás', 'construyendo', 'puentes', 'hacia', 'el', 'futuro', 'con', 'cada', 'línea', 'de', 'código', 'que', 'escribes!']

# Unir los elementos de la lista con un espacio entre ellos
lista_palabras = " ".join(lista_palabras)

# Imprimir el string resultante
print(lista_palabras)

# Otro ejemplo: Unir un nombre y apellido con una coma y un espacio
nombre_apellido = ["Van Rossum", "Guido"]

# Unir los elementos de la lista con una coma y un espacio
nombre_unido = ", ".join(nombre_apellido)

# Imprimir el resultado
print(nombre_unido)

Programando en Python, estás construyendo puentes hacia el futuro con cada línea de código que escribes!
Van Rossum, Guido

In [12]:
# Lista con los componentes de una fecha (día, mes, año)
fecha = ["8", "10", "2024"]

# Unir los elementos de la lista con una barra '/' entre ellos
fecha = "/".join(fecha)

# Imprimir la fecha resultante
print(fecha)

8/10/2024

In [13]:
# String original con espacios vacíos al principio y al final
texto = "        Esto es un string con muchos espacios vacíos            "
print("Texto original:")
print(texto)

# Usar el método strip() para eliminar los espacios en blanco de ambos extremos
texto_editado = texto.strip()

# Imprimir el string editado después de eliminar los espacios
print("\nTexto después de strip():")
print(texto_editado)

Texto original:
        Esto es un string con muchos espacios vacíos

Texto después de strip():
Esto es un string con muchos espacios vacíos

In [14]:
# String original con asteriscos al final
texto = "Esto es un string con muchos asteriscos *****************"
print("Texto original:")
print(texto)

# Eliminar los asteriscos (*) de los extremos del texto
texto_editado = texto.strip("*")

# Luego eliminar las palabras "Esto" de los extremos
texto_editado = texto_editado.strip("Esto")

# Imprimir el texto después de las modificaciones
print("\nTexto después de strip():")
print(texto_editado)

Texto original:
Esto es un string con muchos asteriscos *****************

Texto después de strip():
 es un string con muchos asteriscos

In [15]:
# String original con un error tipográfico en "Pyhton"
texto = "Programando en Pyhton, estás construyendo puentes hacia el futuro con cada línea de código que escribes!"
print("Texto original:")
print(texto)

# Reemplazar la subcadena "Pyhton" por "Python"
texto_reparado = texto.replace("Pyhton", "Python")

# Imprimir el texto después del reemplazo
print("\nTexto reparado:")
print(texto_reparado)

Texto original:
Programando en Pyhton, estás construyendo puentes hacia el futuro con cada línea de código que escribes!

Texto reparado:
Programando en Python, estás construyendo puentes hacia el futuro con cada línea de código que escribes!

In [16]:
# String original
texto = "Programando en Python, estás construyendo puentes hacia el futuro con cada línea de código que escribes!"
print("Texto original:")
print(texto)

# Encontrar el índice de la primera ocurrencia de la subcadena "Python"
idx = texto.index("Python")

# Imprimir el índice donde se encuentra "Python"
print("\nÍndice de 'Python':")
print(idx)

Texto original:
Programando en Python, estás construyendo puentes hacia el futuro con cada línea de código que escribes!

Índice de 'Python':
15

# Métodos de Listas

In [17]:
# Definir una lista de números
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Imprimir la lista
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
# Definir una lista de números
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Usar el método clear() para vaciar la lista
numeros.clear()

# Imprimir la lista vacía
print(numeros)

[]

In [19]:
# Lista original
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Otra lista para agregar
mas_numeros = [11, 12, 13, 14, 15]

# Usar el método extend() para concatenar las listas
numeros.extend(mas_numeros)

# Imprimir la lista concatenada
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [20]:
# Lista original
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Otra lista para agregar
muchos_mas_numeros = [16, 17, 18, 19, 20]

# Sumar las dos listas
numeros = numeros + muchos_mas_numeros

# Imprimir la lista concatenada
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 16, 17, 18, 19, 20]

In [23]:
# Lista original
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Insertar el valor 0 en la posición 0
numeros.insert(0, 0)

# Imprimir la lista actualizada
print(numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
# Lista original
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Insertar una lista en la posición 3
numeros.insert(3, ["Agrega", "una", "lista"])

# Imprimir la lista actualizada
print(numeros)

[1, 2, 3, ['Agrega', 'una', 'lista'], 4, 5, 6, 7, 8, 9, 10]

In [25]:
# Lista original
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Invertir el orden de los elementos
numeros.reverse()

# Imprimir la lista invertida
print(numeros)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [26]:
# Lista original
numeros = ["12", " ", "b", "3", "a", "g", "#", "1000", "10"]

# Ordenar los elementos de la lista
numeros.sort()

# Imprimir la lista ordenada
print(numeros)

[' ', '#', '10', '1000', '12', '3', 'a', 'b', 'g']

In [ ]:
numeros = [16, 17, 21, 22, 18, 19, 20]
numeros.sort()

print(numeros)

[16, 17, 18, 19, 20, 21, 22]

In [ ]:
# Para ordenarlos de manera descendente pasamos el parámetro reverse en True
numeros = [16, 17, 21, 22, 18, 19, 20]
numeros.sort(reverse=True)
print(numeros)

[22, 21, 20, 19, 18, 17, 16]

In [ ]:
# SORT - NO puede ordenar elementos de diferentes tipos
numeros = ["12", "b", "3", "a","g", "#", "1000", 10]
numeros.sort()

print(numeros)

In [ ]:
texto = "gordon lanzó su curva&strawberry ha fallado por un pie! -gritó Joe Castiglione&dos pies -le corrigió Troop&strawberry menea la cabeza como disgustado… -agrega el comentarista"
#print(texto)


texto2 = texto.replace("&", "\n")
#print(texto2)
texto3= texto2[0].upper() + texto2[1:]
print(texto3)

Gordon lanzó su curva
strawberry ha fallado por un pie! -gritó Joe Castiglione
dos pies -le corrigió Troop
strawberry menea la cabeza como disgustado… -agrega el comentarista

In [ ]:
# ¿sorted?

# Métodos de Conjuntos

In [ ]:
# COPY
mi_set = {1, 2, 3, 4, 5}
set_2 = mi_set.copy()

print(mi_set)
print(set_2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
# ISDISJOINT
mi_set = {1, 2, 3, 4, 5}
set_3 = {6, 7, 8}
resultado = mi_set.isdisjoint(set_3)

print(resultado)

True

In [ ]:
mi_set = {1, 2, 3, 4, 5}
set_4 = {6, 3, 8}
resultado = mi_set.isdisjoint(set_4)

print(resultado)

False

In [ ]:
# ISSUBSET
mi_set = {1, 2, 3, 4, 5}
set_5 = {1, 2, 3}
resultado = set_5.issubset(mi_set)

print(resultado)

True

In [ ]:
mi_set = {1, 2, 3, 4, 5}
set_5 = {1, 2, 3}
resultado = mi_set.issubset(set_5)

print(resultado)

False

In [ ]:
mi_set = {1, 2, 3, 4, 5}
set_5 = {1, 2, 3}
resultado = set_5.issubset(mi_set)

print(resultado)

In [ ]:
# ISSUPERSET
mi_set = {1, 2, 3, 4, 5}
set_5 = {6, 3, 8}
resultado = mi_set.issuperset(set_5)

print(resultado)

False

In [ ]:
mi_set = {1, 2, 3, 4, 5}
set_5 = {1, 2, 3}
resultado = mi_set.issuperset(set_5)

print(resultado)

True

In [21]:
# UNION (T)
set_6 = {1, 2, 3}
set_7 = {3, 4, 5}
set_8 = set_6.union(set_7)

print(set_6)
print(set_7)
print(set_8)

{1, 2, 3}
{3, 4, 5}
{1, 2, 3, 4, 5}

In [22]:
# DIFFERENCE
mi_set = {1, 2, 3, 4, 5}
set_9 = {4, 5, 6, 7, 8}
set_10 = mi_set.difference(set_9)

print(mi_set)
print(set_9)
print(set_10)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{1, 2, 3}

In [ ]:
# DIFFERENCE UPDATE
set_9 = {1, 2, 3, 4, 5}
set_10 = {4, 5, 6, 7, 8}
set_9.difference_update(set_10)

print(set_9)
print(set_10)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [ ]:
# INTERSECTION
set_11 = {1, 2, 3, 4, 5}
set_12 = {4, 5, 6, 7, 8}
set_13 = set_11.intersection(set_12)

print(set_13)

{4, 5}

In [ ]:
# INTERSECTION UPDATE
set_11 = {1, 2, 3, 4, 5}
set_12 = {4, 5, 6, 7, 8}
set_11.intersection_update(set_12)

print(set_11)
print(set_12)

{4, 5}
{4, 5, 6, 7, 8}

## EJERCICIO

###Ejemplo 1

In [ ]:
my_set_1 = set([1, 2, 3])
my_set_2 = set([3, 4, 5])
my_new_set = my_set_1.union(my_set_2)
print(my_new_set)

{1, 2, 3, 4, 5}

###Ejemplo 2

In [ ]:
my_set_1 = set([1, 2, 3])
my_set_2 = set([3, 4, 5])
my_new_set = my_set_1.intersection(my_set_2)
print(my_new_set)

{3}

###Ejemplo 3

In [ ]:
my_set_1 = set([1, 2, 3])
my_set_2 = set([3, 4, 5])
my_new_set = my_set_1.difference(my_set_2)
print(my_new_set)

{1, 2}

# Métodos de Diccionarios

In [ ]:
# Buscar un valor que no existe genera un error
colores = {
    "amarillo":"yellow",
    "azul":"blue",
    "verde":"green"
}

print(colores["rojo"])

KeyError: 'rojo'

In [ ]:
# GET - Alternativa de: colores["azul"], por ejemplo
colores = {
    "amarillo":"yellow",
    "azul":"blue",
    "verde":"green"
}


valor_buscado = colores.get("verde")
print(valor_buscado)

valor_buscado = colores.get("rojo")
print(valor_buscado)

valor_buscado = colores.get("rojo", "Color no encontrado")
print(valor_buscado)

valor_buscado = colores.get("azul", "Color no encontrado")
print(valor_buscado)

green
None
Color no encontrado
blue

In [ ]:
# ACCEDIENDO A SUS VALORES
colores = {
    "amarillo":"yellow",
    "azul":"blue",
    "verde":"green"
}


print(colores.keys())
print(colores.values())
print(colores.items())
print(type(colores.keys()))
print(type(colores.values()))
print(type(colores.items()))

dict_keys(['amarillo', 'azul', 'verde'])
dict_values(['yellow', 'blue', 'green'])
dict_items([('amarillo', 'yellow'), ('azul', 'blue'), ('verde', 'green')])
<class 'dict_keys'>
<class 'dict_values'>
<class 'dict_items'>

In [ ]:
# KEYS
colores = {
    "amarillo":"yellow",
    "azul":"blue",
    "verde":"green"
}


for llave in colores.keys():
    print(f"Esta es la llave: {llave}")

Esta es la llave: amarillo
Esta es la llave: azul
Esta es la llave: verde

In [ ]:
# VALUES
colores = {
    "amarillo":"yellow",
    "azul":"blue",
    "verde":"green"
}


for valor in colores.values():
    print(f"Este es el valor: {valor}")

Este es el valor: yellow
Este es el valor: blue
Este es el valor: green

In [ ]:
# ITEMS
colores = {
    "amarillo":"yellow",
    "azul":"blue",
    "verde":"green"
}


for item in colores.items():
    print(item)

('amarillo', 'yellow')
('azul', 'blue')
('verde', 'green')

In [ ]:
colores = {
    "amarillo":"yellow",
    "azul":"blue",
    "verde":"green"
}


for llave, valor in colores.items():
    print(f"Llave: {llave} - Valor: {valor}")

Llave: amarillo - Valor: yellow
Llave: azul - Valor: blue
Llave: verde - Valor: green